.head{
  margin-left:580px;
  color:rgb(186,134,100);
  font-size: 180px;
  margin-bottom:-20px;
}

.footer{
height:200px;
  background:rgb(238, 238, 238);
  margin-top:3px;
}

h4 {
color: rgb(145, 153, 151);
}

.form{
  text-align: center;
  width:1200px;
  padding-top:20px;
  margin-left:150px;
background:rgb(255, 255, 255);
  height:400px;
  margin-bottom:100px;
   box-shadow: 0px 0px 5px grey;
}

.flex-container{
  min-height: 600px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 5px #000;
}

.edit{
  background:rgb(58,85,79);
  flex:30%;
}

.published{
  background:rgb(246,246,238);
  flex:70%;
}

.tutorialEdit {
  display:block;
  line-height: 15px;
  background-repeat: no-repeat;
  width: 89%;
  border-radius: 5px;
  height: 200px;
  background: rgb(255, 255, 255);
  color: black;
  padding: 1px 0px 0px 10px;
  margin: 20px 0px 20px 20px;
border: 1px solid grey;
box-shadow: 0px 0px 5px rgb(34, 49, 46);
}

.tutorialPublished {
  display:block;
  line-height: 15px;
  background-repeat: no-repeat;
  width: 93%;
  border-radius: 5px;
  height: 200px;
  background:white;
  color: black;
  padding: 1px 0px 0px 10px;
  margin: 20px 20px 20px 20px;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px rgb(189, 189, 180);
}

.titleInput{
  width: 600px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: 1.5px solid rgb(218, 218, 218);
  margin-top: 10px;
  outline: none;
  box-shadow: none;
  color: black;
}

.contentInput{
  width: 600px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: 1.5px solid rgb(218, 218, 218);
  margin-top: 10px;
  outline: none;
  box-shadow: none;
  color: black;
}

textarea{
    resize: none
}